---
layout: default
---


		<!-- Banner -->
		<div class="banner">
			<h1>Ace Consulting </h1>
			<h3>For Your Business Agility </h3>
			<h4>Agile/Lean-Startup Consulting. Software Craftsmanship Coaching. Ad-hoc Trainings. </h4>
			<a href="#" data-toggle="modal" data-target="#myModal">READ MORE</a>
		</div>
		 <div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
			<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<p>Weather it is management consulting on Agile Adoption and Transformation, or coaching/training teams on Software Craftsmanship or Lean-Startup consulting or invited talks/workshops, or trainings in a specific area, hesitate not to reach out to me to learn how to get maximum return on your investments by engaging me on the gig.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- //Banner -->
		
		<!-- About -->
		<div class="about" id="about">
			<div class="container">
				<h3>ABOUT US</h3>
				<h6>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration </h6>
				<div class="about-grids">
				<div class="about-grid1">
					<div class="col-md-8 col-sm-8 about-text">
						<h4>JULY 20</h4>
						<h4>OUR HUMBLE BEGINNINGS</h4>
						<p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>
					</div>
					<div class="col-md-4 col-sm-4 aimg aboutimage">
						<img src="images/a1.png" alt=" " />
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="about-grid2">
					<div class="col-md-4 col-sm-4 aimg aboutimage">
						<img src="images/a2.png" alt=" " />
					</div>
					<div class="col-md-8 col-sm-8 about-text about-text2">
						<h4>AUGUST 28</h4>
						<h4>FACING STARTUP BATTLES</h4>
						<p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>
					</div>
					<div class="clearfix"></div>
				</div>
				
				<div class="about-grid3 ">
					<div class="col-md-8 col-sm-8 about-text">
						<h4>DECEMBER 14</h4>
						<h4>ENTER THE DARK DAYS</h4>
						<p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>
					</div>
					<div class="col-md-4 col-sm-4 aboutimage">
						<img src="images/a3.png" alt=" " />
					</div>
					<div class="clearfix"></div>
				</div>
				</div>
			</div>
		</div>
		<!-- //About -->
				
		<!--Services -->
		<div class="services" id="services">
		<div class="container">
			<h3>SERVICES WE PROVIDE</h3>
			<h6>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration </h6>
			<div class="service-grids">
				<div class="col-md-3 col-sm-3 service-grid service-grid1">
					<div class="service-grids-icon">
						<i class="fa fa-star" aria-hidden="true"></i>
					</div>
					<div class="service-grids-text">
						<h4>BRANDING</h4>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 service-grid service-grid2">
					<div class="service-grids-icon">
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					</div>
					<div class="service-grids-text">
						<h4>DESIGN</h4>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 service-grid service-grid3">
					<div class="service-grids-icon">
						<i class="fa fa-users" aria-hidden="true"></i>
					</div>
					<div class="service-grids-text">
						<h4>CONSULTANCY</h4>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 service-grid service-grid4">
					<div class="service-grids-icon">
						<i class="fa fa-globe" aria-hidden="true"></i>
					</div>
					<div class="service-grids-text">
						<h4>DEVELOPMENT</h4>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			</div>
		</div>
		<!-- //Services -->
		

		
{% include testimonial.html %}

{% include team.html %}

{% comment %}
{% include portfolio.html %}
{% endcomment %}

{% include clients.html %}

{% comment %}				
{% include events.html %}
{% include map.html %}
{% endcomment %}

{% include contact.html %}