    <!-- About -->
    <div class="about" id="about">
      <div class="container">
        <h3>WHY US?</h3>
        <h6>"What gets us into trouble is not what we don't know. </h6>
        <h6>Its what we know for sure that just ain't so." -- Mark Twain </h6>
        <div class="why-us-intro">
          <p> The above statement is so true that many a good companies miss the boat by not picking the right person for the right job. There are a plethora of consulting shops that offer all kinds of "Agile Coaching" packages that even the good companies/clients fall in his trap. </p>

          <p> Don't be one of those only to regret later. If you wish to have a good night's sleep and care the same for your employees and all the business stakeholders, then you need true agility not the cosmetic one. And true agility comes from how well the dots are connected. </p>

          <p> Listed below are some of the key reasons why you should engage with Codonomics. </p>
        </div>
        <div class="about-grids">
          <div class="about-grid1">
            <div class="col-md-8 col-sm-8 about-text">
              <h4>No Fluff, Just Stuff Consulting</h4>
              <p> We mince no words and talk straight to the point of what we observe, experience, think and work together with you in your journey. We care to solve your problem as ours, instead of simply selling our services.</p>
            </div>
            <div class="col-md-4 col-sm-4 aimg aboutimage">
              <img src="images/a1.png" alt=" " />
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="about-grid2">
            <div class="col-md-4 col-sm-4 aimg aboutimage">
              <img src="images/a2.png" alt=" " />
            </div>
            <div class="col-md-8 col-sm-8 about-text about-text2">
              <h4>Rich and diverse experience</h4>
              <p> We are not into certifications of any kind. We are "been there, done that" kinds. It's experience that matters and we share those from time to time to the community by way of blogs, articles, meet-ups and conferences. We have recovered from many a mistakes because of our good environment. And we care to help you in building that environment where you feel safe to experiment, fail, recover, and succeed.</p>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="about-grid3 ">
            <div class="col-md-8 col-sm-8 about-text">
              <h4>Refreshingly unique functioning style</h4>
              <p> Right from our terms and conditions to begin with to working with you along the journey to delivering continued improvement and seeing smiles in all our faces, we are and will remain unique. Don't trust us still? Do feel free to reach out to our founder and see how we can make a world of difference together. </p>
            </div>
            <div class="col-md-4 col-sm-4 aboutimage">
              <img src="images/a3.png" alt=" " />
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- //About -->
