    <!-- Banner -->
    <div class="banner">
      <h1>Ace Consulting </h1>
      <h3>For Your Business Agility </h3>
      <h4>Agile/Lean-Startup Consulting. Software Craftsmanship Coaching. Ad-hoc Trainings. </h4>
      <a href="#" data-toggle="modal" data-target="#myModal">READ MORE</a>
    </div>
     <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>Weather it is management consulting on Agile Adoption and Transformation, or coaching/training teams on Software Craftsmanship or Lean-Startup consulting or invited talks/workshops, or trainings in a specific area, hesitate not to reach out to me to learn how to get maximum return on your investments by engaging me on the gig.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- //Banner -->