    <!-- Clients -->
      <div class="clients">
        <div class="container">
          <div class="col-md-3 col-sm-3 client client1">
            <img src="images/c1.jpg" alt="Yahoo!"  />            
          </div>
          <div class="col-md-3 col-sm-3 client client2">
            <img src="images/c2.jpg" alt="John Deere" />            
          </div>
          <div class="col-md-3 col-sm-3 client">
            <img src="images/c3.jpg" alt="Ford" />            
          </div>
          <div class="col-md-3 col-sm-3 client">
            <img src="images/c4.jpg" alt="Honeywell" />            
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    <!-- //Clients -->
