  <!--Contact-->
    <div class="contact" id="contact">
      <div class="container">
        <div class="col-md-4 col-sm-4 contact-grids contact-grid1">
          <h4>Address</h4>
          <h6>New 105, Harrington Road</h6>
          <h6>Chennai 600030</h6>
          <h6><a href="mailto:info@example.com">mlsbd@live.com</a></h6>
        </div>
        <div class="col-md-2 col-sm-2 contact-grids contact-grid2">
          <h4>Navigation</h4>
          <h6><a href="#about" class="scroll">About</a></h6>
          <h6><a href="#testimonials" class="scroll">Testimonials</a></h6>
          <h6><a href="#events" class="scroll">Events</a></h6>
        </div>
        <div class="col-md-3 col-sm-3 contact-grids contact-grid3">
          <h4>Follow us</h4>
          <ul>
            <li><a class="linkedin" href="{{ site.data.global.linkedin_url }}"></a></li>
            <li><a class="google" href="{{ site.data.global.googleplus_url }}"></a></li>
            <li><a class="twitter" href="{{ site.data.global.twitter_url }}"></a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-3 contact-grids contact-grid4">
          <!-- <h4>Newsletter</h4>
          <form action="#" method="post">
            <input type="text" name="your email" placeholder="your email">
            <input type="submit" value="SUBMIT">
          </form> -->
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15545.54772963042!2d80.21709542472948!3d13.074646402612093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52668210785bb7%3A0x48861bd8cb647529!2sChennai%2C+Tamil+Nadu+600030!5e0!3m2!1sen!2sin!4v1469643844610" allowfullscreen></iframe></iframe>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- //Contact-->