      <!-- Events -->
     <!-- <div class="events" id="events">
        <div class="container">
          <h3>LATEST NEWS AND EVENTS</h3>
          <h6>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </h6>
          <div class="egrids">
            <div class="col-md-4 col-sm-4 event-grid event-grid1">
              <img src="images/e1.jpg" alt=" " />
              <div class="etext">
              <h4>Contrary to popular belief</h4>
              <div class="cal">
              <img src="images/calendar.png" alt=""  />
              </div>
              <div class="date">
                <h5>26 jan 2016</h5>
              </div>
              <div class="clearfix"></div>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 event-grid event-grid2">
              <img src="images/e2.jpg" alt=" " />
              <div class="etext">
              <h4>Contrary to popular belief</h4>
              <div class="cal">
              <img src="images/calendar.png" alt="" />
              </div>
              <div class="date">
                <h5>26 feb 2016</h5>
              </div>
                <div class="clearfix"></div>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 event-grid event-grid3">
              <img src="images/e3.jpg" alt=" "/>
              <div class="etext">
              <h4>Contrary to popular belief</h4>
              <div class="cal">
              <img src="images/calendar.png" alt="" />
              </div>
              <div class="date">
                <h5>26 mar 2016</h5>
              </div>
              <div class="clearfix"></div>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div> -->
      <!-- //Events -->