    <!-- Header -->
    <div class="header">
      <!-- Top-Bar -->
      <div class="top-bar">
        <div class="container">
          <div class="logo">
            <a href="#"><h2>CODONOMICS</h2></a>
          </div>
          <div class="header-right">
            <div class="phone">
              <!-- <ul>
                <li><span class="glyphicon glyphicon-earphone phone" aria-hidden="true"></span></li>
                <li>+8044261150</li>
              </ul> -->
            </div>
            <div class="social-icons-top">
              <ul>
                <li><a class="linkedin" href="{{ site.data.global.linkedin_url }}"></a></li>
                <li><a class="google" href="{{ site.data.global.googleplus_url }}"></a></li>
                <li><a class="twitter" href="{{ site.data.global.twitter_url }}"></a></li>
                <!-- <li><a class="facebook" href="#"></a></li> -->
                
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- //Top-Bar -->

      <!-- Navbar -->
      <div class="total-navbar">
        <div class="container">
        <nav class="navbar navbar-default">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div id="navbar" class="navbar-collapse navbar-right collapse hover-effect">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#home" class="scroll">HOME</a></li>
              <li><a href="#about" class="scroll">WHY US ?</a></li>
              <li><a href="#services" class="scroll">SERVICES</a></li>
              <li><a href="/blog" target="_blank" class="scroll">BLOG</a></li>
              <li><a href="#team" class="scroll">TEAM</a></li>
              <li><a href="#contact" class="scroll">CONTACT</a></li>
            </ul>
            
          </div>
            </nav>
            </div>
            </div>
      <!-- //Navbar -->
    </div>
    <!-- //Header -->