    <!-- Recent works-->
    <div class="works" id="portfolio">
      <div class="container">
        <h3>PORTFOLIO</h3>
        <h6>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </h6>
        <div class="work-grids">
          <div class="col-md-4 col-sm-4 wg">
            <a href="images/big1.jpg" class="swipebox" title="BUSINESS PARK">
              <img src="images/w1.jpg" alt=" " class="img-responsive" />
              <div class="winfo">
                <img src="images/hover.png" alt="" />
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-4 wg">
            <a href="images/big2.jpg" class="swipebox" title="BUSINESS PARK">
              <img src="images/w2.jpg" alt=" " class="img-responsive" />
              <div class="winfo">
                <img src="images/hover.png" alt="" />
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-4 wg">
            <a href="images/big3.jpg" class="swipebox" title="BUSINESS PARK">
              <img src="images/w3.jpg" alt=" " class="img-responsive"/>
              <div class="winfo">
                <img src="images/hover.png" alt="" />
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-4 wg">
            <a href="images/big4.jpg" class="swipebox" title="BUSINESS PARK">
              <img src="images/w4.jpg" alt=" " class="img-responsive" />
              <div class="winfo">
                <img src="images/hover.png" alt="" />
              </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-4 wg">
            <a href="images/big5.jpg" class="swipebox" title="BUSINESS PARK">
              <img src="images/w5.jpg" alt=" " class="img-responsive" />
              <div class="winfo">
                <img src="images/hover.png" alt="" />
              </div>
            </a>
          </div>
        
          <div class="col-md-4 col-sm-4 wg">
            <a href="images/big6.jpg" class="swipebox" title="BUSINESS PARK">
              <img src="images/w6.jpg" alt=" " class="img-responsive" />
              <div class="winfo">
                <img src="images/hover.png" alt="" />
              </div>
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
      <!-- swipe box js -->
        <script src="js/jquery.swipebox.min.js"></script> 
          <script type="text/javascript">
            jQuery(function($) {
              $(".swipebox").swipebox();
            });
        </script>
        <!-- //swipe box js -->
    <!-- //Recent works -->