    <!--Services -->
    <div class="services" id="services">
    <div class="container">
      <h3>SERVICE OFFERINGS</h3>
      <h6>Powered by rich and diverse experience.</h6>
      <h6>Driven by ethics, values and uncommonsense.</h6>
      <div class="service-grids">
        <div class="col-md-3 col-sm-3 service-grid service-grid1">
          <div class="service-grids-icon">
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
          <div class="service-grids-text">
            <h4>Software Craftsmanship</h4>
            <p>Is your development team embroiled in the mess of legacy code and are wanting to get out of the mess by learning clean code principles and the art of delivering software quickly to the satisfaction of your customer?</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 service-grid service-grid2">
          <div class="service-grids-icon">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </div>
          <div class="service-grids-text">
            <h4>Lean-Startup Consulting</h4>
            <p>Are you a start-up entreprenuer with bright idea and looking for advisor/coach/mentor/consultant/co-founder to help bootstrap your business quickly to test your idea and iterate over it for a few times to fruition?</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 service-grid service-grid3">
          <div class="service-grids-icon">
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <div class="service-grids-text">
            <h4>AGILE CONSULTING</h4>
            <p>Are you tired of paper Agilists that drained your money for nothing in your journey of agile adoption/transformation?</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 service-grid service-grid4">
          <div class="service-grids-icon">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </div>
          <div class="service-grids-text">
            <h4>DEVELOPMENT</h4>
            <p>Looking for remote on onsite skilled developers as stop-gap measure or to rescue a project or to pair-up with your team members to achieve very specific skill-set?</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      </div>
    </div>
    <!-- //Services -->