    <!--Services -->
    <div class="services" id="services">
    <div class="container">
      <h3>SERVICES WE PROVIDE</h3>
      <h6>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration </h6>
      <div class="service-grids">
        <div class="col-md-3 col-sm-3 service-grid service-grid1">
          <div class="service-grids-icon">
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
          <div class="service-grids-text">
            <h4>BRANDING</h4>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 service-grid service-grid2">
          <div class="service-grids-icon">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </div>
          <div class="service-grids-text">
            <h4>DESIGN</h4>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 service-grid service-grid3">
          <div class="service-grids-icon">
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <div class="service-grids-text">
            <h4>CONSULTANCY</h4>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 service-grid service-grid4">
          <div class="service-grids-icon">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </div>
          <div class="service-grids-text">
            <h4>DEVELOPMENT</h4>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      </div>
    </div>
    <!-- //Services -->