    <!-- Team -->
    <div class="team" id="team">
      <div class="container">
        <div class="theader">
          <h3>OUR AMAZING TEAM</h3>
          <h6>Join us. Together we'll make a difference. </h6>
         </div>
        <div class="col-md-4 col-sm-4 team-grid team-grid1">
          <img src="images/t1.png" alt=" " /> 
          <h5>Karthik Sirasanagandla</h5>
          <p>Founder & Principal Consultant</p>
          <ul>
            <li><a class="twitter" href="{{ site.data.global.twitter_url }}"></a></li>
            <li><a class="linkedin" href="{{ site.data.global.linkedin_url }}"></a></li>            
            <li><a class="google" href="{{ site.data.global.googleplus_url }}"></a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-4 team-grid team-grid2">
         <img src="images/t2.png" alt=" " />
          <h5>You</h5>
          <p>Experienced Humane Consultant</p>
          <ul>
            <li><a class="twitter" href="#"></a></li>
            <li><a class="linkedin" href="#"></a></li>
            <li><a class="google" href="#"></a></li>
          </ul>
        </div>
<!--         <div class="col-md-4 col-sm-4 team-grid team-grid3">
         <img src="images/t3.png" alt=" " />
           <h5>Jessica Jennifer</h5>
          <p>Business analyst for the past 10 years</p>
           <ul>
            <li><a class="twitter" href="#"></a></li>
            <li><a class="facebook" href="#"></a></li>
            <li><a class="pinterest" href="#"></a></li>
           </ul>
        </div> -->
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- //Team -->