    <!-- Testimonials -->
    <div class="testimonials" id="testimonials">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          {% include _testimonials/testimonial1.html %}
          {% include _testimonials/testimonial2.html %}
          {% include _testimonials/testimonial7.html %}
          {% include _testimonials/testimonial3.html %}
          {% include _testimonials/testimonial4.html %}
          {% include _testimonials/testimonial5.html %}
          {% include _testimonials/testimonial6.html %}
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <!-- //Testimonials -->