<div class="item">
	<img src="images/testimonialsbg.jpg" alt="Chania" />
	<div class="carousel-caption">
		<div class="hangouts">
			<img  src="images/hangouts.png" alt=" "  />
		</div>
		<p>Karthik is one of the best innovative thinkers I have worked with. His communication skills make him one of the best. I would bet on any kind of project in any technology in any business if Karthik is in my team. It is his nature to take up challenges and bring in completely different perspectives to the solutions. I would recommend him anytime.</p>
		<div class="person">
			<img src="images/te7.png" alt=" " />
			<h5>Kailash nath</h5>
			<h6>Technical/Solutions Architect at Honeywell</h6>
		</div>
	</div>
</div>