<div class="item">
	<img src="images/testimonialsbg.jpg" alt="Chania" />
	<div class="carousel-caption">
		<div class="hangouts">
			<img  src="images/hangouts.png" alt=" " />
		</div>
		<p> Superb session Karthik. I use perforce at work and have been trying to use/using git for my personal projects and after this session, just came to know why I struggled with Git. The basics were clearly laid out which helps one to follow the steps easily. </p> 
		<div class="person">
			<img src="images/te2.png" alt=" " />
			<h5>Chandra Mohan</h5>
			<h6>Lead Engineer at Intuit </h6>
		</div>
	</div>
</div>