<div class="item">
	<img src="images/testimonialsbg.jpg" alt="Chania" />
	<div class="carousel-caption">
		<div class="hangouts">
			<img  src="images/hangouts.png" alt=" "  />
		</div>
		<p>It was a pleasure working with Karthik. I found him fundamentally very strong. A fast learner of new technology and he makes it simple for others to learn from his experiences .Many of his idea, design has gone into the foundation of product. He was a role model.</p>
		<div class="person">
			<img src="images/te5.png" alt=" " />
			<h5>Srinibas Behera</h5>
			<h6>Director at FICO</h6>
		</div>
	</div>
</div>