<div class="item active">
  <img src="images/testimonialsbg.jpg" alt="Chania" />
  <div class="carousel-caption">
    <div class="hangouts">
      <img src="images/hangouts.png" alt=" " />
    </div>
    <p>Karthik has the ability to connect with individuals at all levels and engage them in the subject. The delivery style is unique and will never allow the participants to lose track. He is a great listener and doesn't only deliver what he wants to but also respects and responds to thoughts and queries during his sessions.</p> 
    <div class="person">
      <img src="images/te1.png" alt=" " />
      <h5>Suresh Purisai</h5>
      <h6>Program Manager and Solutions Architect at Honeywell</h6>
    </div>
  </div>
</div>