<div class="item">
	<img src="images/testimonialsbg.jpg" alt="Chania" />
	<div class="carousel-caption">
		<div class="hangouts">
			<img  src="images/hangouts.png" alt=" "  />
		</div>
		<p>Karthik is a technocrat with a great zeal to share his experiences. With his pleasant communication and presentation skills, he puts his point across in convincing manner. He plans and executes his activities very well. He has been a role model for me. He is one of the finest individuals I have come across in my professional career and has a wonderful learning’s from him at work. I recommend him strongly as he is dynamic and best of breed techy.</p>
		<div class="person">
			<img src="images/te.png" alt=" " />
			<h5>Jagdish Rangnani</h5>
			<h6>Technical Lead at Honeywell</h6>
		</div>
	</div>
</div>