<div class="item">
	<img src="images/testimonialsbg.jpg" alt="Chania" />
	<div class="carousel-caption">
		<div class="hangouts">
			<img  src="images/hangouts.png" alt=" "  />
		</div>
		<p>Starting with a catchy title and all the right opening partnership with the audience, Karthik laid the foundation for the much intensive stuff that was to follow. He was effectively simple in breaking myths and illusions and driving home the key aspects of agile. On the whole, it was a brilliant effort.</p> 
		<div class="person">
			<img src="images/te3.png" alt=" " />
			<h5>Satyanarayanan Visvanathan</h5>
			<h6>VP at CSS Corporation</h6>
		</div>
	</div>
</div>