<div class="item">
	<img src="images/testimonialsbg.jpg" alt="Chania" />
	<div class="carousel-caption">
		<div class="hangouts">
			<img  src="images/hangouts.png" alt=" "  />
		</div>
		<p>During AgileByExample I was pleased to hear Karthik's speech. I must say it was amazing. After few minutes simple topic about stand-ups, became the speech about commitment, business value and respect. Shown in humourus way (Tom and Jerry - rules!!) made me think about it deeply. Shown my team's problems and gave me new possibilities of how to react, remove waste and coach about what is the most important - value. Karthik is great speaker. He really knows what is he talking about.</p>
		<div class="person">
			<img src="images/te4.png" alt=" " />
			<h5>Andrzej Zińczuk</h5>
			<h6>Scrum Master at PayU</h6>
		</div>
	</div>
</div>